[submodule "labs/vulhub"]
	path = labs/vulhub
	url = https://github.com/vulhub/vulhub.git
	ignore = untracked
[submodule "labs/crapi"]
	path = labs/crapi
	url = https://github.com/OWASP/crAPI.git
	ignore = untracked
