[submodule "labs/vulhub"]
	path = labs/vulhub
	url = https://github.com/vulhub/vulhub.git
	ignore = untracked
[submodule "labs/crapi"]
	path = labs/crapi
	url = https://github.com/OWASP/crAPI.git
	ignore = untracked
[submodule "labs/dvws-node"]
	path = labs/dvws-node
	url = https://github.com/snoopysecurity/dvws-node.git
